
@model Model.EF.LichHen
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Client/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker({ dateFormat: 'dd-mm-yy' });
        });
    </script>

}
<script type="application/x-javascript">
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Đặt lịch chăm sóc</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="main-w3layouts-content" data-wow-delay=".5s"> 
    <div class="top-section">
        <h2 class="sub-hdng-agileits-w3layouts">Đặt lịch chăm sóc thú cưng</h2>
        <p>Vui lòng điền đầy đủ thông tin bên dưới</p>
    </div>
    <div class="w3-agile-login-form">
        <form action="#" method="post">
            <h3 class="inner-hdng-agileinfo">Thông tin liên hệ</h3>
            <div class="top-fields-wthree">
                <div class="input-fields-w3ls">
                    @Html.EditorFor(model => model.TenNguoiHen,  new { htmlAttributes = new { placeholder = "Họ tên" } })
                </div>
                <div class="input-fields-w3ls">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email" } })
                </div>
                <div class="input-fields-w3ls">
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { placeholder = "Số điện thoại" } })
                </div>
            </div>
            <h3 class="inner-hdng-agileinfo">Thông tin đặt lịch</h3>
            <div class="mid-fields-agileits-w3layouts">
                <div class="input-fields-w3ls2">
                    @Html.EditorFor(model => model.ThoiGianHen, new { htmlAttributes = new { placeholder = "Ngày hẹn", id = "datepicker", name = "Text", type = "text" } })

                    @*<input id="datepicker" name="Text" type="text" placeholder="Ngày đặt lịch" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'dd/mm/yyyy';}"
            required="" />*@
                </div>
                <div class="input-fields-w3ls2">
                    <select id="country" onchange="change_country(this.value)" class="frm-field required" required="">
                        <option value="">Bất kỳ</option>
                        <option value="">7:00 - 8:00</option>
                        <option value="">8:00 - 9:00</option>
                        <option value="">9:00 - 10:00</option>
                        <option value="">10:00 - 11:00</option>
                        <option value="">11:00 - 12:00</option>
                        <option value="">13:00 - 14:00</option>
                        <option value="">14:00 - 15:00</option>
                        <option value="">15:00 - 16:00</option>
                        <option value="">16:00 - 17:00</option>
                        <option value="">17:00 - 18:00</option>
                    </select>

                </div>
                <div class="input-fields-w3ls2">
                    <select id="country" onchange="change_country(this.value)" class="frm-field required" required="">
                        <option value="">Loại Pet</option>
                        <option value="">Chó</option>
                        <option value="">Mèo</option>
                        <option value="">Khác</option>
                    </select>

                </div>
            </div>
            <div>
                @*<label>
                    @Html.CheckBoxFor(model => model.RememberPass)  Remember Password
                </label>*@
            </div>
            <textarea name="Comments" placeholder="Yêu cầu khác" required=""></textarea>
            <textarea name="Comments" placeholder="Chú thích" required=""></textarea>
            <input type="submit" value="Xác nhận">
        </form>
    </div>
</div>
<div class="clear"></div>

