
@model PetStore.Models.LichHenModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var DichVuChamSoc = (List<Model.EF.DichVuChamSoc>)ViewBag.DichVuChamSoc;
}
@section jsFooter{

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Client/js/jquery-ui.js"></script>
    <script>
		$(function () {
            $("#datepicker").datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: 0,
                
            });

		});
    </script>

}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Đặt lịch chăm sóc</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<div class="main-w3layouts-content" data-wow-delay=".5s"> 
    <div class="top-section">
        <h2 class="sub-hdng-agileits-w3layouts">Đặt lịch chăm sóc thú cưng</h2>
        <p>Vui lòng điền đầy đủ thông tin bên dưới.
        Những trường đánh dấu * là bắt buộc.
        </p>
    </div>
    <div class="w3-agile-login-form">
        <form action="#" method="post">
            <h3 class="inner-hdng-agileinfo">Thông tin liên hệ</h3>
            <div class="top-fields-wthree">
                @Html.HiddenFor(model => model.ID_KhachHang)
                <div class="input-fields-w3ls">
                    @Html.EditorFor(model => model.TenNguoiHen, new { htmlAttributes = new { placeholder = "Họ tên *", autocomplete = "off", required = "" } })
                </div>
                <div class="input-fields-w3ls">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email *", type = "email", autocomplete = "off", required = "" } })
                </div>
                <div class="input-fields-w3ls">
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { placeholder = "Số điện thoại *", type = "text", autocomplete = "off", required = "" } })
                </div>
            </div>
            <h3 class="inner-hdng-agileinfo">Thông tin đặt lịch</h3>
            <div class="mid-fields-agileits-w3layouts">
                <div class="input-fields-w3ls">
                    @{
                        List<SelectListItem> listLoaiThu = new List<SelectListItem>();
                        listLoaiThu.Add(new SelectListItem
                        {
                            Text = "Chó",
                            Value = "Chó"
                        });
                        listLoaiThu.Add(new SelectListItem
                        {
                            Text = "Mèo",
                            Value = "Mèo",
                        });
                    }
                    @Html.DropDownListFor(model => model.LoaiThuCung, listLoaiThu, "Loại thú *", new { @onchange = "LoaiThu = this.value;", id = "country", autocomplete = "off", required = "" })
                </div>
                <div class="input-fields-w3ls">
                    @Html.EditorFor(model => model.GiongThuCung, new { htmlAttributes = new { placeholder = "Giống thú cưng *", autocomplete = "off", required = "" } })
                </div>
                <div class="input-fields-w3ls">
                    @Html.EditorFor(model => model.CanNang, new { htmlAttributes = new { placeholder = "Cân nặng *", autocomplete = "off", required = "" } })
                </div>
            </div>
            <div class="mid-fields-agileits-w3layouts">
                <div class="input-fields-w3ls2">
                    @Html.EditorFor(model => model.NgayHen, new { htmlAttributes = new { placeholder = "Ngày hẹn *", id = "datepicker", name = "Text", type = "text", autocomplete = "off", required = "" } })
                </div>

                <div class="input-fields-w3ls2">
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                            Text = "07:00 - 08:00",
                            Value = "07:00 - 08:00"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "08:00 - 09:00",
                            Value = "08:00 - 09:00",
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "09:00 - 10:00",
                            Value = "09:00 - 10:00"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "10:00 - 11:00",
                            Value = "10:00 - 11:00"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "11:00 - 12:00",
                            Value = "11:00 - 12:00"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "13:00 - 14:00",
                            Value = "13:00 - 14:00"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = "14:00 - 15:00",
                            Value = "14:00 - 15:00"
                        });

                        listItems.Add(new SelectListItem
                        {
                            Text = "15:00 - 16:00",
                            Value = "15:00 - 16:00"
                        });

                        listItems.Add(new SelectListItem
                        {
                            Text = "16:00 - 17:00",
                            Value = "16:00 - 17:00"
                        });

                        listItems.Add(new SelectListItem
                        {
                            Text = "17:00 - 18:00",
                            Value = "17:00 - 18:00"
                        });
                    }

                    @Html.DropDownListFor(model => model.GioHen, listItems, "Giờ hẹn *", new { @onchange = "GioHen = this.value;", id = "country", required = "" })

                </div>
            </div>
            <h3 class="inner-hdng-agileinfo">Lựa chọn dịch vụ</h3>
            <div class="input-fields-w3ls2">
                @for (int i = 0; i < Model.DanhSachDichVuChamSoc.Count(); i++)
                {
                    <div class="col-sm-4">
                        @Html.HiddenFor(m => m.DanhSachDichVuChamSoc[i].DichVuChamSoc.ID_DichVuChamSoc)
                        @Html.CheckBoxFor(m => m.DanhSachDichVuChamSoc[i].available, false)<span style="color:bisque">  @Model.DanhSachDichVuChamSoc[i].DichVuChamSoc.TenDichVuChamSoc </span>
                    </div>


                }

            </div>

            <h3 class="inner-hdng-agileinfo" style="display:inline-block">Ghi chú</h3>
            <div class="input-fields-w3ls2">
                @Html.TextAreaFor(model => model.GhiChu, new { htmlAttributes = new { @placeholder = "Ghi chú" } })
            </div>
            <br />
            <a href="#" data-toggle="modal" data-target="#BangGiaDichVu">Bảng giá dịch vụ </a>
            <input type="submit" value="Xác nhận">
            <div class="modal fade" id="BangGiaDichVu" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLiveLabel">Bảng giá dịch vụ chăm sóc</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="timetable_sub">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Tên dịch vụ</th>
                                        <th colspan="5">Chó</th>
                                        <th colspan="4"> Mèo</th>
                                        <th rowspan="2"> Đơn vị tính</th>
                                    </tr>
       
                                    <tr>
                                        <th>Dưới 10kg</th>
                                        <th>Từ 10kg đến 15kg</th>
                                        <th>Từ 15kg đến 20kg</th>
                                        <th>Từ 20kg đến 25kg</th>
                                        <th>Trên 25kg</th>
                                        <th>Dưới 2kg</th>
                                        <th>Từ 2kg đến 5kg</th>
                                        <th>Từ 5kg đến 8kg</th>
                                        <th>Trên 8kg</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach( var item in DichVuChamSoc)
                                    {
                                        <tr>
                                            <td>@item.TenDichVuChamSoc</td>
                                            <td>@item.Cho_0_10.ToString("N0")</td>
                                            <td>@item.Cho_10_15.ToString("N0")</td>
                                            <td>@item.Cho_15_20.ToString("N0")</td>
                                            <td>@item.Cho_20_25.ToString("N0")</td>
                                            <td>@item.Cho_over25.ToString("N0")</td>
                                            <td>@item.Meo_0_2.ToString("N0")</td>
                                            <td>@item.Meo_2_5.ToString("N0")</td>
                                            <td>@item.Meo_5_8.ToString("N0")</td>
                                            <td>@item.Meo_over8.ToString("N0")</td>
                                            <td>@item.DonViTinh</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clear"></div>

