
@model  PagedList.IPagedList<Model.Dto.DonHangDto>
@using PagedList.Mvc
@using Model.Enums
@{
    ViewBag.Title = "Quản lý Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Assets/Admin/dist/js/Controller/DonHangController.js"></script>
}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Đơn hàng chưa xác nhận</div>
    <div class="card-body">

        @using (Html.BeginForm("DonHangChuaXacNhan", "DonHangManagement", FormMethod.Get))
        {
            <div class="row" style="padding-bottom: 5px ">
                <div class="col-sm-4">
                    <input type="text" name="searchString" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

        }

        <div class="table-responsive">
            <table class="table table-bordered" style="font-size:13px" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Tên người nhận</th>
                        <th>Số điện thoại</th>
                      @*  <th>Địa chỉ ship</th>*@
                        <th>Tổng tiền</th>
                        <th>Trạng thái đơn hàng</th>
                        <th style="width: 275px">Thao tác</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Tên người nhận</th>
                        <th>Số điện thoại</th>
                       @* <th>Địa chỉ ship</th>*@
                        <th>Tổng tiền</th>
                        <th>Trạng thái đơn hàng</th>
                        <th style="width: 275px">Thao tác</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID_DonHang">

                            <td>@item.CreateDate</td>
                            <td>@item.ShipName</td>
                            <td>@item.ShipMobile</td>
                            @*<td>@item.ShipAddress</td>*@
                            <td>@item.TongTien.ToString("N0")</td>
                            <td>@item.TenTrangThaiDonHang</td>
                            <td style="width: 275px">
                                <button class="btn-xacNhan btn btn-primary btn-sm" style="width:80px" data-id="@item.ID_DonHang">Xác nhận</button>
                                <button class="btn-tuChoi btn btn-danger btn-sm" style="width:80px" data-id="@item.ID_DonHang">Từ chối</button>
                                <a href="/Admin/DonHangManagement/ChiTietDonHang/@item.ID_DonHang" class="btn btn-secondary btn-sm" style="width:80px"> Chi tiết</a>

                            </td>
                        </tr>

                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("DonHangChuaXacNhan", new { Page }))
        </div>
    </div>
</div>