
@model  PagedList.IPagedList<Model.Dto.DonHangDto>
@using PagedList.Mvc
@using Model.Enums
@{
    ViewBag.Title = "Quản lý Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Assets/Admin/dist/js/Controller/DonHangController.js"></script>
}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Đơn hàng đã xác nhận</div>
    <div class="card-body">

        @using (Html.BeginForm("DonHangDaXacNhan", "DonHangManagement", FormMethod.Get))
        {
            <div class="row" style="padding-bottom: 5px ">
                <div class="col-sm-4">
                    <input type="text" name="searchString" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

        }

        <div class="table-responsive">
            <table class="table table-bordered" width="100%"  style="font-size:13px" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Tên người nhận</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ ship</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Tên người nhận</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ ship</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID_DonHang">

                            <td>@item.CreateDate</td>
                            <td>@item.ShipName</td>
                            <td>@item.ShipMobile</td>
                            <td>@item.ShipAddress</td>
                            <td>@item.TongTien.ToString("N0")</td>
                            <td>@item.TenTrangThaiDonHang</td>
                            <td style="width: 320px">
                                <button class="btn-hoanThanh btn btn-primary btn-sm" style="width:100px" data-id="@item.ID_DonHang">Hoàn thành</button>
                                <button class="btn btn-danger btn-sm" style="position:center; width: 90px" data-toggle="modal" data-target="#Modal_@item.ID_DonHang">Bị hủy</button>
                                <a href="/Admin/DonHangManagement/ChiTietDonHang/@item.ID_DonHang" class="btn btn-secondary btn-sm" style="width:90px"> Chi tiết</a>
                            </td>
                        </tr>
                        <div class="modal fade" id="Modal_@item.ID_DonHang" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLiveLabel">Lý do bị hủy</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <textarea id="txtarea_@item.ID_DonHang" rows="5" cols="104" placeholder="Nhập lý do đơn hàng bị hủy..."></textarea><br><br>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn-tuChoi btn btn-danger btn-sm" data-dismiss="modal" data-id="@item.ID_DonHang">Hủy đơn hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("DonHangDaXacNhan", new { Page }))
        </div>
    </div>
</div>