
@model  PagedList.IPagedList<Model.Dto.DonHangDto>
@using PagedList.Mvc
@using Model.Enums
@{
    ViewBag.Title = "Quản lý Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Assets/Admin/dist/js/Controller/DonHangController.js"></script>
}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Quản lý Đơn Hàng</div>
    <div class="card-body">

        @using (Html.BeginForm("DonHangHoanThanh", "DonHangManagement", FormMethod.Get))
        {
            <div class="row" style="padding-bottom: 5px ">
                <div class="col-sm-4">
                    <input type="text" name="searchString" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>

        }

        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Tên người nhận</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ ship</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Tên người nhận</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ ship</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái đơn hàng</th>
                        <th>Ngày hoàn thành</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID_DonHang">

                            <td>@item.CreateDate</td>
                            <td>@item.ShipName</td>
                            <td>@item.ShipMobile</td>
                            <td>@item.ShipAddress</td>
                            <td>@item.TongTien.ToString("N0")</td>
                            <td>@item.TenTrangThaiDonHang</td>
                            <td>
                               @item.ShipDate
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("DonHangDaHuy", new { Page }))
        </div>
    </div>
</div>