@model Model.EF.GiongPet

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa danh mục Giống Pet</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="invisible">
        <div class="col-md-10">
            @Html.EditorFor(model => model.ID_GiongPet, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TenGiongPet, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenGiongPet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenGiongPet, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_DanhMuc, "ID_DanhMuc", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ID_DanhMuc, null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_DanhMuc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NguonGoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.NguonGoc, new { htmlAttributes = new { @class = "form-control" }, id = "noidung" })
            @Html.ValidationMessageFor(model => model.NguonGoc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImgNguonGoc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ImgNguonGoc, new { htmlAttributes = new { @class = "form-control" }, id = "linkImage" })
            <button type="button" id="selectImage">Upload</button>
            @Html.ValidationMessageFor(model => model.ImgNguonGoc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DacDiem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.DacDiem, new { htmlAttributes = new { @class = "form-control" }, id = "noidung1" })
            @Html.ValidationMessageFor(model => model.DacDiem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImgDacDiem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ImgDacDiem, new { htmlAttributes = new { @class = "form-control" }, id = "linkImage1" })
            <button type="button" id="selectImage1">Upload</button>
            @Html.ValidationMessageFor(model => model.ImgDacDiem, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LyDoNuoi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.LyDoNuoi, new { htmlAttributes = new { @class = "form-control" }, id = "noidung2" })
            @Html.ValidationMessageFor(model => model.LyDoNuoi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImgLyDoNuoi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ImgLyDoNuoi, new { htmlAttributes = new { @class = "form-control" }, id = "linkImage2" })
            <button type="button" id="selectImage2">Upload</button>
            @Html.ValidationMessageFor(model => model.ImgLyDoNuoi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
