@model  Model.Dto.KyGuiChiTietDto
@using PagedList.Mvc
@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}


@section jsFooter{

}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Quản lý Đơn Hàng</div>
    <div class="card-body">
        <strong></strong>
        <div>
            <h4>Thông tin khách hàng</h4>
            <h6>Tên khách hàng: <strong>@Model.TenKhachHang</strong></h6>
            <h6>Số điện thoại:  <strong>@Model.SoDienThoai</strong></h6>
            <h6>Email: <strong>@Model.Email</strong></h6>
            <br />
            <h4>Thông tin thú cưng</h4>
            <h6>Tên thú cưng: <strong>@Model.TenPet</strong> </h6>
            <h6>Loại thú cưng: <strong>@Model.LoaiThuCung</strong></h6>
            <h6>Giống thú cưng: <strong>@Model.GiongThuCung</strong></h6>
            <h6>Cân nặng: <strong>@Model.CanNang</strong></h6>
            <h6>Số tháng: <strong>@Model.SoThang</strong></h6>
            <h6>Giới tính: <strong>@Model.GioiTinh</strong></h6>

            <br />
            <h4>Thông tin ký gửi </h4>
            <h6>Trạng thái ký gửi: <strong>@Model.TenTrangThaiLichHen</strong></h6>
            <h6>Thời gian tạo yêu cầu: <strong>@Model.CreateDate</strong></h6>
            <h6>Thời gian bắt đầu: <strong>@Model.TuGio ngày @Model.TuNgay</strong></h6>
            <h6>Thời gian kết thúc <strong>@Model.DenGio ngày @Model.DenNgay</strong></h6>
            <h6>Gói ký gửi: <strong>@Model.TenLoaiKyGui</strong></h6>
            <h6>Chi phí dự tính: <strong>@Model.TongTien.ToString("N0") đồng</strong></h6>
            <h6>Đón trả thú cưng tại nhà: <strong>@Model.DonTraTaiNha</strong></h6>
            <h6>Địa chỉ đón trả: <strong>@Model.DiaChiDonTra</strong></h6>
            <h6>Ghi chú: <strong>@Model.GhiChu</strong></h6>


        </div>
        <br />
        <h4>Thông tin ký gửi </h4>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Thời gian cập nhật</th>
                        <th>Tình trạng thú cưng</th>
                        <th>Nội dung cập nhật</th>
                        <th>Hình ảnh</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DanhSachCapNhat)
                    {
                        <tr>
                            <td>@item.ThoiGianCapNhat</td>
                            <td>@item.TinhTrangThuCung</td>
                            <td>@Html.Raw(item.NoiDungCapNhat)</td>
                            <td style="width: 340px"><img src="@item.imgLink1" width="100" /> <img src="@item.imgLink2" width="100" /> <img src="@item.imgLink3" width="100" /></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

