@model  PagedList.IPagedList<Model.EF.User> 
@using PagedList.Mvc
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Quản lý tài khoản</div>
    <div class="card-body">

        @using (Html.BeginForm("Index", "UserManagement", FormMethod.Get))
        {
            <div class="row" style="padding-bottom: 5px ">
                <div class="col-sm-8">
                    <a type="button" class="btn btn-primary" href="/Admin/UserManagement/Create">Tạo mới</a>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="searchString" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
           
        }

        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>PassWord</th>
                        <th>Tên người dùng</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Active</th>
                        <th>Is Admin</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>UserName</th>
                        <th>PassWord</th>
                        <th>Tên người dùng</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Active</th>
                        <th>Is Admin</th>
                        <th>#</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.ID_User">
                            <td>@item.Username</td>
                            <td>@item.Password</td>
                            <td>@item.Ten</td>
                            <td>@item.DiaChi</td>
                            <td>@item.Email</td>
                            <td>@item.SoDienThoai</td>
                            <td>@item.Status</td>
                            <td>@item.IsAdmin</td>
                            <td>
                                <a href="/Admin/UserManagement/Edit/@item.ID_User">Sửa</a>
                                |
                                @Ajax.ActionLink("Xóa", "Delete", new { id = item.ID_User }, new AjaxOptions
                           {
                               Confirm = "Xác nhận xóa",
                               OnComplete = "$('#row_" + @item.ID_User + "').remove()",
                               HttpMethod = "Delete"
                           })
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
        </div>
    </div>
</div>