@model Model.EF.GiongPet
@{
    ViewBag.Title = Model.TenGiongPet;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Pets = (List<Model.EF.Pet>)ViewBag.Item;
}

<!-- collections -->
<div class="new-collections">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Bảng giá @Model.TenGiongPet</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">
           
        </p>
        <div class="row">
            @foreach (var item in Pets)
            {
                <div class="col-md-3 new-collections-grid">
                    <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                        <div class="new-collections-grid1-image">
                            <a href="single.html" class="product-image"><img src="@item.Image" alt=" " class="img-responsive"></a>
                            <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                <a class="item_add" href="/Them_gio_hang?itemId=@item.ID_Item&soLuong=1">Thêm vào giỏ </a>
                            </div>
                        </div>
                        <h4><a href="single.html">@item.Ten_Pet</a></h4>
                        <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                            <p><span class="item_price">@item.GiaTien</span><a class="item_add" href="/Them_gio_hang?itemId=@item.ID_Item&soLuong=1">Thêm vào giỏ </a></p>
                        </div>
                    </div>
                </div>
            }
            @Html.Raw(@Model.MoTa)

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //collections -->