@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Slide = (List<Model.EF.Slide>)ViewBag.Slide;
    var HotDeal = ViewBag.HotDeal;
}
<!-- banner -->
@section slide{
    <div class="banner">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                @for (int i = 1; i < Slide.Count(); i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                }
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="@Slide[0].Link_Image" alt="dog" class="img-responsive">
                    <div class="carousel-caption ch">
                        <h3>@Slide[0].TieuDe</h3>
                        <p>@Html.Raw(@Slide[0].ChiTiet)</p>
                    </div>
                </div>
                @for (int i = 1; i < Slide.Count(); i++)
                {
                    <div class="item">
                        <img src="@Slide[i].Link_Image" alt="dog" class="img-responsive">
                        <div class="carousel-caption ch">
                            <h3>@Slide[i].TieuDe</h3>
                            <p>@Html.Raw(Slide[i].ChiTiet)</p>
                        </div>
                    </div>
                }
            </div>

            <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
}
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="banner-bottom-grids">
            <div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-julia">
                        <img src="~/Upload/images/banner_bottom1.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3>Pet <span>Store</span><i> in online shopping</i></h3>
                            <div>
                                <p>Mua bán dễ dàng</p>
                               
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">
                <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                    <a href="/LichHen">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="~/Upload/images/banner_bottom2.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="banner-bottom-grid-left1-pos">
                            <p style="color:crimson"><strong>Chăm sóc <span>thú cưng</span></strong></p>
                        </div>
                    </a>

                </div>

            </div>
            <div class="banner-bottom-grid-right animated wow slideInRight" data-wow-delay=".5s">
                <div class="banner-bottom-grid-left-grid grid-left-grid1">
                    <a href="/KyGui">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="~/Upload/images/banner_bottom3.jpg" alt=" " class="img-responsive" />
                        </div>
                        <div class="grid-left-grid1-pos">
                            <p style="color:crimson"> <strong>Đặt lịch <span>Ký gửi thú cưng</span></strong> </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- collections -->
<div class="new-collections">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Thú cưng bán chạy</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">
            Danh sách các thú cưng hot luôn được cập nhật
        </p>
        <div class="new-collections-grids">
            @foreach (var item in HotDeal)
            {
                <div class="col-md-3 new-collections-grid">
                    <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
                        <div class="new-collections-grid1-image">
                            <a href="single.html" class="product-image"><img src="@item.Image" alt=" " class="img-responsive"></a>
                            <div class="new-collections-grid1-image-pos">
                                <a href="#" class="item_add " style="position:center" data-toggle="modal" data-target="#Modal_@item.ID_Item">Xem chi tiết</a>
                            </div>
                        </div>
                        <h4><a href="single.html">@item.Ten_Pet</a></h4>
                        <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                            <p><span class="item_price">@item.GiaTien.ToString("N0")</span><a class="item_add" href="/Them_gio_hang?itemId=@item.ID_Item&soLuong=1">Thêm vào giỏ </a></p>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="Modal_@item.ID_Item" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLiveLabel">Chi tiết thú cưng</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="single-right">
                                    <div class="col-md-5 single-right-left ">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                <div class="thumb-image"> <img src="@item.Image" data-imagezoom="true" class="img-responsive"> </div>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="col-md-7 single-right-left simpleCart_shelfItem ">
                                        <h4>@item.Ten_Pet</h4>
                                        <h5><i>Giá tiền: </i></h5><h4><span class="item_price">@item.GiaTien.ToString("N0")</span></h4>

                                        <div class="description">
                                            <h5><i>Mô tả</i></h5>
                                            <p>
                                                @Html.Raw(item.MoTa)
                                            </p>
                                        </div>
                                        <div class="description">
                                            <h5><i>Màu lông: </i>@item.MauLong</h5>

                                        </div>
                                        <div class="occasion-cart">
                                            <a class="item_add" href="/Them_gio_hang?itemId=@item.ID_Item&soLuong=1">Thêm vào giỏ </a>
                                        </div>

                                    </div>
                                    <div class="clearfix"> </div>

                                </div>
                                <div class="clearfix"> </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
<!-- //collections -->
