@model List<Model.Dto.DonHangDto>
@{
    ViewBag.Title = "DonHangCuaToi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal tong = 0;
}
@section jsFooter{

    <script src="~/Assets/Client/js/Controller/DonHangCuaToiController.js"></script>
}
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="~/Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Tài khoản</li>
            <li class="active">Đơn hàng của tôi</li>

        </ol>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="checkout">
    <div class="container">
        @if (@Model.Count > 0)
        {
            <div class="checkout-right animated wow slideInUp" data-wow-delay=".5s">
                @foreach (var item in Model)
                {
                    <table class="timetable_sub">
                        <thead>
                            <tr>
                                <th>Ngày tạo</th>
                                <th>Tên người nhận</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ ship</th>
                                <th>Trạng thái</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr id="row_@item.ID_DonHang">

                                <td>@item.CreateDate</td>
                                <td>@item.ShipName</td>
                                <td>@item.ShipMobile</td>
                                <td>@item.ShipAddress</td>
                                <td id="Update_TrangThai_@item.ID_DonHang">@item.TenTrangThaiDonHang</td>
                                <td>@item.TongTien.ToString("N0")</td>
                            </tr>

                            <tr>
                                <td id="Update_button_@item.ID_DonHang">
                                    @if (item.TrangThaiDonHang == 1)
                                    {
                                        <button class="btn-tuChoi btn btn-danger btn-sm" style="width:100px" data-id="@item.ID_DonHang">Hủy đơn hàng</button>
                                    }
                                    else if (item.TrangThaiDonHang == 2)
                                    {
                                        <button class="btn-hoanThanh btn btn-primary btn-sm" style="width:100px" data-id="@item.ID_DonHang">Hoàn thành</button>
                                    }
                                </td>
                                <td colspan="5">
                                    <table class="timetable_sub">
                                        <thead>
                                            <tr>
                                                <th>Thú cưng</th>
                                                <th>Tên thú cưng</th>
                                                <th>Số lượng</th>
                                                <th>Đơn giá</th>
                                                <th>Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var donHangChiTiet in item.DanhSachDonHangChiTiet)
                                            {
                                                <tr>
                                                    <td><img src="@donHangChiTiet.ImgLink" width="100" /> </td>
                                                    <td style="width: 30%">@donHangChiTiet.TenItem</td>
                                                    <td style="width: 10%">
                                                        @donHangChiTiet.SoLuong
                                                    </td>
                                                    <td>@donHangChiTiet.DonGia.ToString("N0")</td>
                                                    <td> <span>@donHangChiTiet.ThanhTien.ToString("N0")</span></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <br />
                    <br />
                }
            </div>

        }
        else
        {
            <h3><span>Bạn chưa có đơn hàng nào</span></h3>
        }
    </div>
</div>
