@model List<Model.Dto.KyGuiChiTietDto>
@{
    ViewBag.Title = "KyGuiCuaToi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{

    <script src="~/Assets/Client/js/Controller/KyGuiCuaToiController.js"></script>
}
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="~/Home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Tài khoản</li>
            <li class="active">Ký gửi của tôi</li>

        </ol>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="checkout">
    <div class="container">
        @if (@Model.Count > 0)
        {
        <div>
            @foreach (var item in Model)
            {
                <div class="modal fade" id="Modal_@item.ID_LichHen" role="dialog">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLiveLabel">Lý do hủy</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <textarea id="txtarea_@item.ID_LichHen" rows="5" cols="68" placeholder="Nhập lý do hủy..."></textarea><br><br>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn-tuChoi btn btn-danger btn-sm" data-dismiss="modal" data-id="@item.ID_LichHen">Hủy ký gửi</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>Ngày tạo</th>
                            <th>Tên Khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Tổng tiền</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Trạng thái ký gửi</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr id="row_@item.ID_LichHen">

                            <td>@item.CreateDate</td>
                            <td>@item.TenKhachHang</td>
                            <td>@item.SoDienThoai</td>
                            <td>@item.TongTien.ToString("N0")</td>
                            <td>@item.TuGio ngày @item.TuNgay</td>
                            <td>@item.DenGio ngày @item.DenNgay</td>
                            <td><span id="Update_TrangThai_@item.ID_LichHen">@item.TenTrangThaiLichHen</span></td>

                        </tr>

                        <tr>
                            <td>
                                <span id="Update_button_@item.ID_LichHen">
                                    @if (item.TrangThaiLichHen == 1)
                                    {
                                        <button class="btn btn-danger btn-sm" style="position:center" data-toggle="modal" data-target="#Modal_@item.ID_LichHen">Hủy ký gửi </button>

                                    }
                                    else if (item.TrangThaiLichHen == 2)
                                    {
                                        <button class="btn btn-danger btn-sm" style="position:center" data-toggle="modal" data-target="#Modal_@item.ID_LichHen">Hủy ký gửi </button>
                                    }
                                    else if (item.TrangThaiLichHen == 3)
                                    {
                                        <button class="btn-hoanThanh btn btn-success btn-sm" style="width:100px" data-id="@item.ID_LichHen">Hoàn thành</button>
                                        <button class="btn btn-primary btn-sm" style="width:100px" data-toggle="collapse" data-target="#@item.ID_LichKyGui">Tình trạng</button>
                                    }
                                    else if (item.TrangThaiLichHen == 4)
                                    {
                                        <button class="btn btn-primary btn-sm" style="width:100px" data-toggle="collapse" data-target="#Huy_@item.ID_LichKyGui">Lý do hủy</button>
                                    }
                                    else if (item.TrangThaiLichHen == 5)
                                    {
                                        <button class="btn btn-primary btn-sm" style="width:100px" data-toggle="collapse" data-target="#@item.ID_LichKyGui">Tình trạng</button>
                                    }
                                </span>

                            </td>
                            <td colspan="6">
                                <div id="Huy_@item.ID_LichKyGui" class="collapse">
                                    <span>@item.LyDoHuy</span>
                                </div>
                                <div id="@item.ID_LichKyGui" class="collapse">
                                    <table class="timetable_sub">
                                        <thead>
                                            <tr>
                                                <th>Thời gian cập nhật</th>
                                                <th>Tình trạng thú cưng</th>
                                                <th>Nội dung cập nhật</th>
                                                <th>Hình ảnh</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var capNhat in item.DanhSachCapNhat)
                                            {
                                                <tr>
                                                    <td>@capNhat.ThoiGianCapNhat</td>
                                                    <td>@capNhat.TinhTrangThuCung</td>
                                                    <td>@Html.Raw(capNhat.NoiDungCapNhat)</td>
                                                    <td style="width: 340px"><img src="@capNhat.imgLink1" width="100" />    <img src="@capNhat.imgLink2" width="100" />    <img src="@capNhat.imgLink3" width="100" /></td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <br />
                <br />
                <br />
            }
        </div>

        }
        else
        {
            <h3><span>Bạn chưa có lịch hẹn nào</span></h3>
        }
    </div>
</div>
